body{
	margin: 0;
}
.hader{
	width: 100%;
	height: 910px;
	background: #E0C6a9;
}
.pareen{
	width: 100%;
	height: 500px;
	background: #E0C6a9;
}
#body{
	width: 100%;
	height: 600px;
	background: #E0C6a9;
	position: relative;
}
#peren{
	width: 100%;
	height: 65px;
	background: #744042;
}
.web{
	width: 100px;
	height: 100px;
}
.bulet-kiri{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid#bbb;
}
#card{
	width: 100%;
	height: 200px;
}
#warpper{
	width: 100%;
	height: 500px;
}

ul.warpperr2 li{
	font-size: 14px;
    line-height: 42px;
}

#card-body{
	width: 65%;
	height: 58px;
}

#body-card{
	width: 65%;
	height: 58px;
}

#card-body1{
	width: 30%;
	height: 300px;
	border: 1px solid#000;
	border-radius: 2px;
	right: 15px;
	top: 315px;
	background: #d2f1e6;
	position: absolute;
}

.kotak{
	width: 100%;
	height: 150px;
	float: left;
}
.kotak1{
	width: 65;
	height: 66px;
}

.img{
	width: 30%;
	float: left;
}
.text{
	width: 84%;
}
.img1{
	width: 130px;
	height: 130px;
	margin-top: 20px;
	margin-left: 165px;
}
.img1 img{
	width: 115px;
	height: 115px;
	border-radius: 50%;
	padding-right: 0px;
}
.text h1{
	font-family: 'Pacifico', cursive;
    font-weight:400;
	text-align: center;
	font-size: 76px;
}
.text p{
	text-align: center;
	font-size: 30px;
	margin-top: -62px;
	margin-left: 220px;

}
.tex p{
	font-size: 23px;
	line-height: 45px;
	width: 78%;
	margin-left: 50px;
	height: 100%;
}
.profil{
	width: 4%;
	height: 58px;
	background: #d2f1e6;
	float: left;
}

.profil1{
	width: 90%;
	height: 4px;
}
.profil1 h1{
	height: 30px;
	padding-left: 45px;
	padding-top: 0px;
}

.garis{
	width: 100%;
	height: 4px;
	background: #d2f1e6;
}

.garais-atas{
	width: 65%;
	height: 245px;
}
.garais-atas1{
	width: 92%;
	height: 170px;
}

.alamat{
	width: 100%;
	height: 60px;
}
.alamat h2{
	font-size: 20px;
	margin-left: 20px;
}

.alamat p{
	font-size: 14px;
	margin-left: 20px;


}
.warpperr{
	width: 100%;
	margin-top: 0px;
	height: 200px;
}
ul.warpperr li{
	padding-top: 15px;
	line-height: 45px;
	font-size: 20px;
	margin-left: 23px;

}

#card1{
	width: 65%;
	height: 91px;
}
.kotak-bawah{
	width: 100%;
	margin-top: 35px;
	height: 60px;
	float: left;
}
.tex img{
	width: 270px;
	height: 270px;
}
.center{
	width: calc(100% /2);
	float: left;
}
.center h2{
	margin-left: 40px;
}
#bottom{
	width: 100%;
	height: 70px;
	background: #744042;
}


@media screen and (max-width: 330px){
	#tnc-section .desktop-ver-top{
		display: none;
	}
}


@media screen and (min-width: 340px) and (max-width: 500px) {

	#tnc-section{
		height: initial;
	}
	#tnc-section .desktop-ver-top{
		display: none;
	}

	#tnc-section .mobile-ver-top{
		display: block;
		background: #fff;
		height: 488px;
		width: 100%;
	}

}

@media (min-width: 768px) and (max-width: 1199.98px){.hader {
    width: 100%;
    height: 1173px; {
    }}
}









